body{
    background-image:url(contexte-programmation-personne-travaillant-codes-ordinateur_23-2150010125.avif) ;
    background-repeat: no-repeat;
    object-fit: contain;
    max-width: 100%;
  height: auto;
  background-color: aliceblue;
}